.container {
    background-color: white;
    width: 60vw;
    /* height: 100vh; */
}

.header {
    /* height: 8%; */
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6C95EC;
}

.form {
    margin-top: 3%;
    height: 1034px;
    /* height: 88%; */
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.screen_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 50%; */
    height: 250px;
    /* border: 3px solid #3A4750; */
    border-radius: 10px;
    width: 75%;
    margin-top : 50px;
    margin-bottom : 50px;

}

.analysis_container {
    margin-top: 3%;
    /* height: 30%; */
    height: 250px;
    width: 75%;

    box-shadow: 3px 3px 10px #B5B5B5;
    border-radius: 10px;
}

.foodname {
    align-items: center;
    font-size: 20px;
    color: #3D61AD;
    font-weight: 700;
    margin-top: 10px;
}

.analysis {
    height: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

.info_container {
    margin-top: 3%;
    height: 100px;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 3px 3px 10px #B5B5B5;
    border-radius: 10px;
}


.gagebar {
    margin-top: 4px;
    height: 44px;
    display: flex;
    width: 200px;
}

.write_foodname input {
    margin-top: 6px;
    background-color: #F5EBEB;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.write_foodname input :focus {
    outline: none;
}

.btn_container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    /* height: 6%; */
    height: 40px;
    width: 75%;
}

.btn_record {
    height: 40px;
    width: 156px;
    border-radius: 30px;

    background-color: #6C95EC;
    color: black;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    
    margin-top : 20px;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}