.camera_container {
    background-color: white;
    width: 60vw;
    height: 100vh;

}

.GotoHome {
    position: absolute;
    left: 21%;
    top: 2%;
    width: 1.5rem;
    height: 1.5rem;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(225deg);
}

/* display: flex;
    justify-content: center;
    align-items: center; */

.screen_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80%;
    border-bottom: 3px solid #6C95EC;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

.screen {
    margin-top: 30px;
    width: 30vw;
}

.food_name {
    width: 20vw;
    border: 2px solid #6C95EC;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_gallary {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    height: 64px;
    width: 64px;
}

.btn_photo {
    border: 0;
    background-color: #3A4750;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.toggle-button {
    width: 60px;
    height: 30px;
    border: 2px solid #6C95EC;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #6C95EC;
    border-radius: 50%;
    left: 2%;
    transition: transform 0.3s;
}

.toggle-button.ingredient::before {
    transform: translateX(30px);
    background-color: #ffffff;
}

.toggle-button.ingredient {
    background-color: #6C95EC;
}